-- Add subject_id to daily_attendance for subject-specific attendance tracking
ALTER TABLE public.daily_attendance ADD COLUMN subject_id UUID;

-- Add foreign key to subjects table
ALTER TABLE public.daily_attendance
ADD CONSTRAINT fk_daily_attendance_subject
FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;

-- Update unique constraint to include subject_id
ALTER TABLE public.daily_attendance DROP CONSTRAINT IF EXISTS daily_attendance_student_id_date_instructor_id_key;
DROP INDEX IF EXISTS daily_attendance_student_date_instructor_uidx;
ALTER TABLE public.daily_attendance ADD CONSTRAINT daily_attendance_student_date_instructor_subject_uidx UNIQUE(student_id, date, instructor_id, subject_id);